* {
	background-color: purple;
}
#wrapper {
	background-image: url(../images/diceBackground.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}
#progress {
	width: 100%;
	background-color: grey;
}
#bar {
	width: 1%;
	height: 30px;
	background-color: green;
}
h1 {
	color: red;
}